body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: black;
}

.container{
    background:#202020 ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap:wrap;
    gap: 50px;
}
.uno{
    background: orangered;
    width: 400px;
    height: 400px;
    border-radius: 15px;

}
.dos{   
    background: palevioletred;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.tres{
    background: purple;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}